/* extra small screen */
@media screen and (max-height: 599px){
  #sidebar .app-menu,
  #upgrade{
    display: none;
  }
}

@media screen and (max-width: 638px){
  /* /Utility */
  .disp-none-xs{
    display: none !important;
  }
  .f-shrink{
    flex-shrink: 1;
  }
  /* /Utility */
  #footer .song .favorites{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer .song .favorites .fa-heart{
    margin-right: 0;
  }
  /* Sostituzione logo Spotify */
  #main #sidebar{
    width: 40px;
    overflow-y: hidden;
  }
  #main #sidebar a.logo{
    height: 25px;
    margin: 5px 7px 0 7px;
  }
  #main #sidebar a.logo > img.small-logo{
    display: flex;
  }
  #main #sidebar a.logo > img.big-logo{
    display: none;
  }
  #main #sidebar > a{
    display: flex;
    margin: auto;
  }

}
